@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
:root {
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);
  --light-cyan: hsl(180, 64%, 72%);
  --bone-gray: hsl(230, 25%, 95%);
}

body {
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 18px;
  color: var(--grayish-violet);
  font-weight: 500;
}
